[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pypdf2" = "*"
reportlab = "*"
cerberus = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
prompt-toolkit = "==2.0.4"
requests = "*"
"pdf2image" = "*"

[requires]
python_version = "3.6"
